@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@font-face {
  font-family: "Seasonmix";
  src: url("/fonts/SeasonMix-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Seasonmix";
  src: url("/fonts/SeasonMix-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-season-mix: Seasonmix, "Palatino Linotype", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --grid-columns: 4;
  --grid-gap: 12px;
  --grid-gutter: 20px;
}

@media (min-width: 768px) {
  :root {
    --grid-columns: 9;
    --grid-gap: 20px;
    --grid-gutter: 40px;
  }
}

@media (min-width: 992px) {
  :root {
    --grid-columns: 12;
    --grid-gutter: 80px;
  }
}
